As explained in the dissertation, in order to have a clearer view of the netowork, I have extracted the matched data. This code is the last step which extractes all the records

In [5]:
import pandas as pd

# Load the edges data
edges_df = pd.read_csv('updated_edges.csv', delimiter=",")

# Filter edges to include only those marked as 'match'
filtered_edges_df = edges_df[(edges_df['visualization'] == 'match')]

# Extract unique nodes from the filtered edges
unique_node_ids = pd.unique(filtered_edges_df[['source', 'target']].values.ravel('K'))

# Load the all nodes data (assuming you have a file with all nodes data)
all_nodes_df = pd.read_csv('231116_nodes.csv')

# Filter nodes to include only those in the filtered edges
filtered_nodes_df = all_nodes_df[all_nodes_df['id'].isin(unique_node_ids)]

# Save the filtered edges to a new CSV file
filtered_edges_df.to_csv('extraction_filtered_edges.csv', index=False)

# Save the filtered nodes to a new CSV file
filtered_nodes_df.to_csv('extraction_filtered_nodes.csv', index=False)

In [6]:
# Print the filtered DataFrames to see them
print("\nFiltered Edges DataFrame:")
filtered_edges_df

Filtered Edges DataFrame:

,source,target,score,filename,entity_mention_clean,year,title,country,visualization
4055,60381,0,0.997385,DE Corpus/DE_Primary/1654_GRAFFT_CursusPhiloso...,Aristotelem,1654,CursusPhilosophiciThetikos,DE,match
11201,24032,0,0.992742,DE Corpus/DE_Secondary/1698_STUART_Thesesphysd...,Arist,1698,Thesesphysdererumnaturaliumprincipiis,DE,match
11202,24032,0,0.994020,DE Corpus/DE_Secondary/1698_STUART_Thesesphysd...,Arist,1698,Thesesphysdererumnaturaliumprincipiis,DE,match
11203,24032,0,0.994896,DE Corpus/DE_Secondary/1698_STUART_Thesesphysd...,Aristotelem,1698,Thesesphysdererumnaturaliumprincipiis,DE,match
11204,24032,0,0.985063,DE Corpus/DE_Secondary/1698_STUART_Thesesphysd...,ARISTOTELIS,1698,Thesesphysdererumnaturaliumprincipiis,DE,match
...,...,...,...,...,...,...,...,...,...
294532,351,100000,0.877067,UK Corpus/UK Primary/EN_Latin_PRIMARY_unlemmat...,Deum,1701,IntroductioAdVeramPhysicam.txt,UK,match
294533,351,100000,0.946940,UK Corpus/UK Primary/EN_Latin_PRIMARY_unlemmat...,Deum,1701,IntroductioAdVeramPhysicam.txt,UK,match
294534,351,100000,0.947320,UK Corpus/UK Primary/EN_Latin_PRIMARY_unlemmat...,Deum,1701,IntroductioAdVeramPhysicam.txt,UK,match
294535,351,100000,0.975417,UK Corpus/UK Primary/EN_Latin_PRIMARY_unlemmat...,Deus,1701,IntroductioAdVeramPhysicam.txt,UK,match
294536,351,100000,0.986802,UK Corpus/UK Primary/EN_Latin_PRIMARY_unlemmat...,Deus,1701,IntroductioAdVeramPhysicam.txt,UK,match

In [7]:
print("\nFiltered Nodes DataFrame:")
filtered_nodes_df

Filtered Nodes DataFrame:

           id                                       Name
0           0          Aristoteles/Arist (2)/Aristot(12)
1           1                                     Scotus
3           4                                    Christi
5           6                         Platonis/Plato (7)
7          10  Cartesius / Cartesiani(31) / Cartesii (8)
...       ...                                        ...
60517   60525                                  nieuwland
60528   60536                                 abercromby
60531   60539                                    johnson
60532   60540                                   cleghorn
60533  100000    Deus / God (39) / Dieu (29) / DEVS (51)

[445 rows x 2 columns]

Let's check if Laura Bassi is included in the filtered edges file!

In [13]:
# Check for specific IDs in the source or target columns
specific_edges_df = filtered_edges_df[
    (filtered_edges_df['source'].isin([16844, 15712])) | 
    (filtered_edges_df['target'].isin([16844, 15712]))]

specific_edges_df

,source,target,score,filename,entity_mention_clean,year,title,country,visualization
207226,13471,15712,0.881867,NL Corpus/NL Primary/NL_Lat_PRIMARY_unlemmatiz...,LAURA BASSI comm . Bonon,1786,PositionesPhysicae.txt,NL,match
208076,479,16844,0.895436,FR Corpus/FR Secondary/FR_Latin_SECONDARY_unle...,Maria Catharina Bassi Journal,1755,PhysicaeRecentiorisOrigo,FR,match